@import './bootstrap.min.css';
@import './components/Header.scss';
@import './components/Footer.scss';
.row {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
h1 {
  color: rebeccapurple;
}
.sections {
  color: white;
  background-color: palevioletred;
  border: 1px solid white;
  text-align: center;
  min-height: 100px;
  input {
    color: black;
  }
}